<h1>The ultimate restaurant guide</h1>
<div class="container">
  <div class="row">
    <% @restaurants.each do |restaurant| %>
    <div class="card col-lg-6">
      <h2><%= restaurant.name %></h2>
      <p><%= restaurant.category %></p>
      <p><%= restaurant.address %></p>
      <p><%= restaurant.phone_number %></p>
      <p>
        <%= link_to "Show", restaurant_path(restaurant), class: "btn btn-primary" %>
        <%= link_to "Edit", edit_admin_restaurant_path(restaurant), class: "btn btn-primary" %>
        <%= link_to "Delete", admin_restaurant_path(restaurant),
          method: :delete,
          data: { confirm: "Are you sure?" },
          class: "btn btn-primary"
        %>
      </p>
    </div>
  </div>

  <% end %>
<%= link_to "New restaurant", new_restaurant_path %>
</div>
